nbproject
nbbuild.xml
manifest.mf
build.properties
local.properties
build
bin
gen
version
*.user.properties
*.local.properties
.metadata
*/conf/testng/WIP*.xml
*/conf/testng/ALL*.xml
testng-failed.xml
jssecacerts
*.jpage
*.ipr
*.iml
/.idea
*.iws
*.log
output
*/test-output
*/target
*/ivylib
*/libs/robotium*
*/libs/safs*